html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  text-align: center;
}

h1 {
  font-size: 3rem;
  padding: 0 .75em;
}

ul {
  display: inline-block;
  margin: .3em;
}

li {
  background-color: #b2a212;
  border-radius: 4px;
  display: inline-block;
  padding: .2em .5em .3em

}

li:hover {
  background-color: #cc1465;
}

li:active {
  background-color: #b20953;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
}

h2 {
  font-size: 1.875rem;
}

h1, h2 {
  font-family: "Sigmar One";
  color: #b20953;
}

li, p {
  font-family: Georgia;
  font-size: 1.125rem;
}

main {
  background-color: #fff;
}

footer {
  font-size: .75rem;
  background-color: #ffe500;
  text-align: center;
}

footer, p {
  color: #2f2d13;
  padding: .75em;
}

img {
  display: block;
  width: 100%;
}
